* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.nav-bar {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 100px;
    margin: -10px 0 0 -10px;
    background-color: #0e97cc;
    height: 70px;
}

.logo img {
    width: 50px;
    height: 50px;
    margin: 10px 0 0 60px;
}

.profile img {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    margin: 10px 30px 0 200px;
    float: right;
}

.search {
    margin: 20px 200px 20px 400px;   
}

.search input {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    opacity: .7;
    color: #fff;
    font-size: 14px;
}

.search button {
    width: auto;
    height: 30px;
    background-color: #ff4500;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
}

.sidebar {
    position: absolute;
    height: 100%;
    width: 200px;
    margin-left: -10px;
    background-color: #0e97cc;
}

.sidemenu-item {
    display: flex;
    width: 125%;
    margin-left: -40px;
    padding: 10px 10px;
    border: none;
    border-bottom: 1px solid#fff;
}

.sidemenu-item img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.sidemenu-item li {
    list-style: none;
    padding-top: 10px;
    padding-left: 15px;
}

.sidemenu-item a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.selected {
    background-color: #ff4500;
    border-radius: 10px;
}